
<label for="check" class="btn btn-default">Can't see?</label>
<input type="checkbox" id="check" />
<div><br>20 Million Americans are visually impaired.<br>
      95% go online everyday. <br ><br ><br ><br ><br >
      The internet can be a beautful place.<br>
      And it should be for everyone.</div>
