<div class="row text-center"><h1>20 Million Americans are visually impaired.</h1></div>
<div class="row text-center" style="padding-top: 30px; padding-bottom: 30px;">
  <button class="btn btn-default" onclick="$('body').toggleClass('blank');"><b>CAN'T SEE?</b></buttom>
</div>
<div class="row text-center"><h1>The internet can be a beautful place for everyone.</h1></div>
<!--<div class="row text-center"><h1>And it should be for everyone.</h1></div>-->
