<div class="parent"><div class="child" style="font-family: 'Arial'; color: #000;">
<div class="row text-center"><h1>20 Million Americans are visually impaired.</h1></div>
<div class="row text-center" style="padding-top: 30px; padding-bottom: 30px;">
  <button class="btn btn-default" onclick="toggle()"><b>CAN'T SEE?</b></buttom>
</div>
<div class="row text-center"><h1>The internet can be a beautiful place, <br>for everyone.</h1></div>
</div></div>
<div class="text-right sig" style="padding: 20px; display: none;">
  <button class="btn btn-default">Developers</button>
  <button class="btn btn-default">Businesses</button>
</div>
<div class="hos">&nbsp;</div>

